[submodule "Programming"]
	path = Programming
	url = git@github.com:the-bookshelf/cs-programming.git
[submodule "Architecture"]
	path = Architecture
	url = git@github.com:the-bookshelf/cs-architecture.git
